@import "@edx/brand/paragon/variables";
@import "@edx/paragon/scss/core/core";
@import "@edx/brand/paragon/overrides";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~@edx/frontend-component-footer/dist/footer";
@import "~@edx/frontend-component-site-header/src/index";

header {
    background: $white;

    a.logo img{
        max-height: 50px;
    }
}

footer a img {
    max-height: 50px;
}

.text-underline { 
    text-decoration: underline; 
}
